/* CSS for book library project */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;

    display: flex;
    height: auto;
}

.sidebar {
    flex: auto;
    width: 20%;

    display: flex;
    flex-direction: column;
}

.sidebar button.new-book {
    width: 60%;
    align-self: center;
}

.library-display-wrapper {
    flex: auto;

    height: 100vh;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;


    background-color: antiquewhite;
}

.library-display-wrapper .book {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: grey;
    border: 1px solid black;
    padding: 0px 10px;
}